<a href="https://colab.research.google.com/github/MohammadNuramin/Deep-Learning/blob/main/First_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# Create your first MLP in Keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
import numpy
import pandas as pd

In [44]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

In [45]:
dataset = pd.read_csv('/content/drive/My Drive/Data/diabetes.csv',delimiter=",")

In [46]:
dataset.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [47]:
X = df.loc[:, dataset.columns!='Outcome']
Y = df.loc[:, dataset.columns=='Outcome']

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=seed)

In [60]:
# create model
model = Sequential()
model.add(Dense(12, input_dim=8, bias_initializer = 'uniform' , activation= 'relu' ))
model.add(Dense(8, bias_initializer = 'uniform' , activation= 'relu' ))
model.add(Dense(1, bias_initializer = 'uniform' , activation= 'sigmoid' ))

In [ ]:
# Compile model
model.compile(loss= 'binary_crossentropy' , optimizer= 'adam' , metrics=[ 'accuracy' ])
# Fit the model
#model.fit(X, Y, epochs=150, batch_size=10, verbose= 0)
model.fit(X_train, y_train, validation_data=(X_test,y_test), epochs=150, batch_size=10, verbose= 0)

In [65]:
# evaluate the model
scores = model.evaluate(X, Y)
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

24/24 [==============================] - 0s 1ms/step - loss: 0.4702 - accuracy: 0.7904
accuracy: 79.04%